@use '../global/mixins' as *;

button {
  @include button();
}

// Visitar
.btn { 
  @include button(var(--logo), 50px, 90px);
  color: var(--color-background);
  border-radius: 25px;
  font-size: 1.1rem;
    &:hover{
      background-color: #b8001b;
    }
}