header {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  gap: 1rem;

  .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
    
  }

  img {
    height: 28px;
    width: 28px;
  }

  .icon {
    filter: contrast(30%);
  }

  .profileimg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
